@model IEnumerable<ThingWall.Data.Model.Item>
@{
    ViewBag.Title = "CurrentUserItems";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>CurrentUserItems</h2>
<div id="ItemsList" class="row">

    <div id="UpdatePanel"></div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            timeout();

            function timeout() {
                setTimeout(function () {
                    $.ajax({
                        url: "@Url.Action("CurrentUserItemsAjax","Items")",
                        data: "",
                        type: "GET",
                        cache: false,
                        dataType: "json",
                        success: function (data) {

                            loadData(data);
                        },
                        error: function () {
                            alert("Błąd! Try again!");

                        }

                    });
                    var getdata = new Date().getTime();
                    timeout();
                }, 1000);
            }

            function loadData(data) {

                var divParent = $('<div  </div>');


                $.each(data, function (i, val) {

                    var div = $('<div class="col-md-3" id="containerForItems"> </div>');
                    var title = $('<div class="row" id="titleRow"></div>');

                    var description = $('<div class="row" id="containerForDescription"> </div>');
                    var footer = $('<div class="row" id="itemFooter"> </div>');

                    if (val.Description.length < 300) {
                        description.append(val.Description);
                    } else {
                        description.append("Text is to long, click Details to see text");
                    }

                    footer.append('created at:');
                    footer.append(val.Date);
                    footer.append('<a class="btn btn-success" href="/Items/Details/' + val.ItemID + '">Details</a>')
                    title.append(val.Name);
                    div.append(title);
                    div.append(description);
                    div.append(footer);
                    divParent.append(div);

                });
                $("#UpdatePanel").html(divParent);

            };
        });

    </script>
}